@font-face {
  font-family: "Bazar";
  src: url("../fonts/Bazar.ttf"); }
@font-face {
  font-family: "Seaside Resort";
  src: url("../fonts/SeasideResortNF.ttf"); }
.header {
  background: url("../images/bg/first_section_BG.png"); }
  .header .top-nav {
    font-family: "Bazar", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: -30px; }
    .header .top-nav a {
      text-decoration: none; }
    .header .top-nav img {
      width: 140px; }
    .header .top-nav li {
      color: #f9ebd9;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      list-style: none; }
  .header .top-nav.active img {
    display: none; }

.top_navigation {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background: url("../images/bg/first_section_BG.png"); }
  .top_navigation .toggle_menu_button {
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 11px;
    z-index: 11; }
  .top_navigation .toggle_menu_button.active {
    background-color: transparent; }
  .top_navigation .toggle_menu_button.active:before, .top_navigation .toggle_menu_button.active:after {
    background-color: #F4EACF; }
  .top_navigation .toggle_menu_button:before, .top_navigation .toggle_menu_button:after {
    left: 9px;
    cursor: pointer;
    content: " ";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #2D2F31; }
  .top_navigation .toggle_menu_button:after {
    top: 10px;
    transition: 0.5s; }
  .top_navigation .toggle_menu_button:before {
    top: 20px;
    transition: 0.5s; }
  .top_navigation .toggle_menu_button.active:after {
    transform: rotate(45deg);
    top: 16px; }
  .top_navigation .toggle_menu_button.active:before {
    transform: rotate(-45deg);
    top: 16px; }
  .top_navigation .toggle_menu_list.active ul {
    background: url("../images/bg/Bez_imeni-1.png");
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 10; }
    .top_navigation .toggle_menu_list.active ul a {
      text-decoration: none; }
      .top_navigation .toggle_menu_list.active ul a li {
        margin-top: 10px;
        margin-right: 10px;
        text-decoration: none;
        list-style: none;
        color: #f9ebd9;
        font-family: "Bazar", sans-serif;
        text-transform: uppercase;
        font-size: 3.5vw; }
  .top_navigation .toggle_menu_list ul {
    display: none;
    transition: 0.5s; }

.header_name {
  margin-top: 150px; }
  .header_name img {
    width: 90%; }
  .header_name .retro {
    text-transform: uppercase;
    font-family: "Seaside Resort", sans-serif;
    font-size: 110px;
    color: #f9ebd9;
    text-shadow: 1px 1px 2px rgba(232, 244, 244, 0.3); }

.carousel-item {
  margin-bottom: 30px;
  margin-top: 40px;
  border-top: 10px solid #fbfaf6;
  border-right: 10px solid #fbfaf6;
  border-left: 10px solid #fbfaf6;
  border-bottom: 50px solid #fbfaf6; }
  .carousel-item img {
    width: 100%; }
  .carousel-item .carousel-caption {
    z-index: 10;
    color: #000;
    font-family: "Bazar", sans-serif;
    color: #383a3c;
    text-transform: uppercase;
    top: 98%; }

.round-div-next {
  z-index: 10;
  background-color: #000;
  position: absolute;
  right: 1%;
  top: 40%;
  width: 25px;
  height: 60px;
  border-radius: 120px 0px 0px 120px;
  background-color: #fbfaf6; }
  .round-div-next a {
    width: 100%; }
    .round-div-next a span.carousel-control-next-icon {
      background-image: url("../images/header_slider/arrow.svg");
      position: relative;
      top: 21px;
      right: -3px;
      top: 2px; }

.round-div-prev {
  z-index: 10;
  position: absolute;
  left: 1%;
  top: 40%;
  width: 25px;
  height: 60px;
  border-radius: 0px 100px 100px 0px;
  background-color: #fbfaf6; }
  .round-div-prev a {
    width: 100%; }
    .round-div-prev a span.carousel-control-prev-icon {
      background-image: url("../images/header_slider/arrow.svg");
      position: relative;
      top: 21px;
      right: 4px;
      top: 2px;
      transform: rotate(180deg); }

.hello_john {
  text-align: center;
  font-family: "Bazar", sans-serif;
  color: #f7ebd8;
  font-size: 30px; }
  .hello_john p:first-child {
    margin-bottom: 0; }
  .hello_john p:last-child {
    font-size: 23px;
    margin-bottom: 50px; }

.second_block {
  background: url("../images/bg/second_section_BG.jpg"); }
  .second_block_header {
    margin-top: 80px; }
    .second_block_header p {
      color: #38353e;
      font-family: "Oswald", sans-serif;
      font-size: 17px; }
    .second_block_header img {
      width: 150px; }

.head2 {
  font-family: "Bazar", sans-serif;
  font-size: 90px;
  text-shadow: 3px 3px 0 #fcfaf7;
  color: #393a3a;
  text-transform: uppercase;
  margin-bottom: 0; }

.second_block_content {
  margin-top: 10px;
  text-align: center; }
  .second_block_content:last-child {
    margin-bottom: 110px; }
  .second_block_content img {
    width: 140px;
    text-align: center; }
  .second_block_content h3 {
    margin-top: 35px;
    font-family: "Bazar", sans-serif;
    font-size: 25px;
    text-transform: uppercase; }
  .second_block_content h6 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: light;
    text-transform: uppercase;
    font-size: 14px; }
  .second_block_content h6::after {
    margin: 15px auto 15px auto;
    content: " ";
    width: 60px;
    display: block;
    border: 2px solid #000; }
  .second_block_content p {
    padding-right: 10px;
    margin-right: 20px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px; }

.portfolio_block {
  background: url("../images/bg/third_section_BG.jpg"); }

.portfolio_block_header {
  padding-top: 60px;
  text-align: center; }
  .portfolio_block_header h2 {
    font-family: "Bazar", sans-serif;
    font-size: 90px;
    text-shadow: 3px 3px 0 #fcfaf7;
    color: #393a3a;
    text-transform: uppercase;
    margin-bottom: 0; }
  .portfolio_block_header p {
    color: #38353e;
    font-family: "Oswald", sans-serif;
    font-size: 17px; }
  .portfolio_block_header img {
    width: 150px; }

.filter {
  margin-top: 30px; }
  .filter_by {
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    margin-right: 30px;
    color: #383a3c; }
  .filter ul li {
    color: #383a3c;
    margin-bottom: 10px;
    margin-right: 25px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bolder;
    font-size: 14px;
    position: relative;
    background-color: #fbfaf6;
    padding-right: 10px;
    padding-bottom: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
    .filter ul li:before {
      left: -12px;
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      border-color: rgba(0, 0, 0, 0) #FCFAF7 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 12px 12px 12px 0; }

.little-circle {
  width: 6px;
  height: 6px;
  background-color: #959ca3;
  border-radius: 50px;
  margin-right: 5px;
  margin-bottom: 2px; }

.portfolio_block_photos ul li {
  padding: 0;
  margin-bottom: 24px; }
  .portfolio_block_photos ul li a {
    display: block;
    width: 90%;
    border: 4px solid #fbfaf6;
    text-decoration: none;
    background-color: #fbfaf6;
    text-align: center; }
    .portfolio_block_photos ul li a:hover img.photo_icons {
      transform: translateY(-5px);
      transition-duration: 300ms; }
    .portfolio_block_photos ul li a h3 {
      font-family: "Roboto Slab", sans-serif;
      color: #383a3c;
      font-size: 16px;
      font-weight: bolder;
      background-color: #fbfaf6;
      margin-bottom: 10px; }
    .portfolio_block_photos ul li a img {
      width: 100%; }
    .portfolio_block_photos ul li a img.photo_icons {
      position: relative;
      width: 45px;
      border-radius: 50%;
      margin-top: -12px; }

.browse_all a {
  text-decoration: none; }
.browse_all div {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  color: #38353e;
  margin-top: 5px;
  padding-bottom: 30px; }
.browse_all:before {
  position: absolute;
  display: inline;
  content: "";
  width: 45px;
  border-top: 3px solid #38353e; }

.blog_section {
  background: url("../images/bg/fourth_section_BG.jpg"); }
  .blog_section_header {
    padding-top: 60px;
    text-align: center; }
  .blog_section h2 {
    font-family: "Bazar", sans-serif;
    font-size: 90px;
    text-shadow: 3px 3px 0 #fcfaf7;
    color: #393a3a;
    text-transform: uppercase;
    margin-bottom: 0; }
  .blog_section p {
    color: #38353e;
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    text-transform: uppercase; }
  .blog_section img {
    width: 150px; }

.blog_content {
  margin-top: 40px; }
  .blog_content li {
    margin-bottom: 30px; }
    .blog_content li a {
      margin-left: 30px;
      margin-right: 40px;
      padding: 0;
      width: 100%; }
      .blog_content li a img {
        width: 110%;
        border: 4px solid #fbfaf6;
        border-radius: 3px; }

.text_in_blog h3 {
  font-family: "Roboto Slab", sans-serif;
  color: #383a3c;
  font-size: 28px; }
.text_in_blog h4 {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #383a3c; }
.text_in_blog h4:after {
  margin-top: 10px;
  content: "";
  display: block;
  border-top: 2px solid #383a3c;
  width: 40px;
  height: 2px; }
.text_in_blog p {
  margin-top: 20px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  color: #383a3c;
  text-transform: none; }

.show_all a {
  text-decoration: none; }
.show_all div {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  color: #38353e;
  margin-top: 5px;
  padding-bottom: 30px; }
.show_all:before {
  position: absolute;
  display: inline;
  content: "";
  width: 45px;
  border-top: 3px solid #38353e; }

.contact_block {
  background: url("../images/bg/last_section_BG.jpg"); }

.contact_block_header {
  padding-top: 60px;
  text-align: center; }
  .contact_block_header h2 {
    font-family: "Bazar", sans-serif;
    font-size: 90px;
    text-shadow: 3px 3px 0 #fcfaf7;
    color: #393a3a;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f6edd8;
    text-shadow: 3px 3px 0 #484a4d; }
  .contact_block_header p {
    color: #38353e;
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #f6edd8; }
  .contact_block_header img {
    width: 150px; }

.contact_form {
  margin-top: 15px; }
  .contact_form input, .contact_form textarea {
    border-radius: 3px;
    margin-top: 10px;
    width: 100%;
    padding: 2px 5px 2px 5px;
    font-family: "Roboto Slab", sans-serif;
    color: #a9a9a9; }
  .contact_form .button_submit {
    margin-bottom: 30px;
    font-weight: bold;
    color: #383a3c;
    padding: 5px 5px 5px 5px; }

.iam_social h4 {
  font-family: "Bazar", sans-serif;
  color: #f6edd8;
  font-size: 22px; }
.iam_social h4:after {
  margin-left: 30px;
  margin-top: 10px;
  display: block;
  content: " ";
  width: 35px;
  border-top: 2px solid #f6edd8;
  margin-bottom: 20px; }

.social_links_icons a {
  margin-right: 10px;
  margin-bottom: 10px; }
  .social_links_icons a:last-child {
    margin-bottom: 50px; }
  .social_links_icons a img {
    width: 80px; }

@media(max-width:575px) {
  .portfolio_block_photos ul li a {
    width: 100%; }

  .portfolio_block_header .portfolio_head2 {
    font-size: 50px; }

  .second_block_header .head2 {
    font-size: 50px; }

  .blog_section_header .blog_section_head {
    font-size: 50px; }

  .contact_block_header .contact_head {
    font-size: 50px; } }
@media(min-width:768px) {
  .toggle_menu {
    display: none; } }
@media(max-width:768px) {
  .top_navigation a.nav_element {
    display: none; } }
@media(max-width:991px) {
  .header_name .retro {
    font-size: 70px !important; }

  .blog_content li div {
    margin-top: 20px;
    margin-bottom: 20px; }
    .blog_content li div h3, .blog_content li div h4 {
      text-align: center; }
    .blog_content li div h4:after {
      width: 20vmax;
      margin: 10px auto 10px auto; }
    .blog_content li div p {
      margin-left: 20px; } }
@media(max-width:1200px) {
  .header_name .retro {
    font-size: 90px; } }

/*# sourceMappingURL=main.css.map */
